## **Create tuple**

In [ ]:
loc=(4) # بيعتبرها int
print(type(loc))
loc=(4,) # نحط فاصله لو متغير واحد
print(type(loc))

<class 'int'>
<class 'tuple'>

In [ ]:
list_gpa=[4,3,2.7]
gpa_tuple=tuple(list_gpa)
print(gpa_tuple)

(4, 3, 2.7)

## **Access to values**

In [ ]:
print(gpa_tuple[0:4])

(4, 3, 2.7)

In [ ]:
print(gpa_tuple[2])

2.7

## **Edit value**

In [ ]:
gpa_tuple[0]=5 # unmodifyd

TypeError: 'tuple' object does not support item assignment

In [ ]:
# يمدي نعدل بس اذا كان في ليست جوتها وبنعدل اللست نفسها
new_tuple=['ans',[8,5],6.5]
new_tuple[1].append(76)
new_tuple

['ans', [8, 5, 76], 6.5]

## **Count**

In [ ]:
prices=(44,33,12,22,11,33,12,12,12)

In [ ]:
print(prices.count(12))

4

## **Index**

In [ ]:
print(prices.index(12)) # اول ظهور للقييمة

2

## **Packing**

In [ ]:
# مجموعة قيم افصلهم بفاصله كني اسوي حزمة وهو بيعتبرها تيوبل
marks=19,18,20,11
print(marks)
print(type(marks))

(19, 18, 20, 11)
<class 'tuple'>

## **UnPacking**

In [ ]:
# لازم نفس العدد اللي في الماركز كان 4 قسم فهنا اربع متغيرات لازم
fatimah,mohammed,shaekah,ahmed = marks
print(fatimah)
print(mohammed)
print(shaekah)
print(ahmed)

19
18
20
11

### packing & unpacking

In [ ]:
# packing
def divide(x,y):
  q=x//y
  r=x%y
  return q,r

# unpacking
quotient,remainder=divide(5,2)
print(quotient)
print(remainder)

2
1