## **While**

In [6]:
i = 10
while i>0:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [4]:
while 0==0:
  id=int(input('Enter a number: '))
  if id==0:
    break
  print(id)

Enter a number: 5
5
Enter a number: 9
9
Enter a number: 0

## **for**

In [9]:
students = ['Ali','Mohammed','Nizar']

In [8]:
for student in students:
  print(student)

Ali
Mohammed
Nizar

In [13]:
for i in range(10):# شكل قائمة من الارقام من صفر لعشرة
  print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(6,20):
  print(i)

6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
suming = 0
for i in range(6,20):
  suming+=i
print(suming)

175

In [23]:
total=0
for i in range(10):
  total+=i
print(total)

45

### break

In [16]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

### continue

In [15]:
for i in range(10):
  if i%2!=0:
    continue
  print(i)

0
2
4
6
8

### max & min

#### min

In [ ]:
gpa=[3,4,2.0,2.6,3.5]

In [24]:
# to find the minimum item in the list
min_gpa=gpa[0]
for i in gpa:
  if i<min_gpa:
    min_gpa=i
print(min_gpa)

2.0

#### max

In [25]:
max_gpa=gpa[0]
for i in gpa:
  if i>max_gpa:
    max_gpa=i
print(max_gpa)

4